.portfolioPageTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    height: 100vh;
    /* background-image: url('././'); */
    background-size: cover;
    background-image: linear-gradient(100deg, #2f2f2f, #7B886B);
}
.portfolioLink{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
    /* max-width: 90%; */
    /* height: 100%; */

   
}
img.projectLink{
    align-items: center;
    justify-content: center;
    padding: 2%;
    /* height: 20%;  */
    width: 100%;
}